.btns{
    display: flex;
}

.content{
    margin: 50px auto;width: fit-content;
}
#num{
    background-color: aqua;
    border: 1px solid lightblue;
    padding: 20px;
}
#num:hover{
    background-color: bisque;
}
#id{
    font-size: 25px;
}
#nam{
    font-size: 25px;
}
#email{
    font-size: 25px;
}
.info{
    width:100%; margin-top: 20px; padding: 10px;
    display: flex;flex-direction: column;
    justify-content:space-between;
    height: 200px; background-color: rgba(21, 204, 204, 0.614);
}
.pagin{
    width: max-content;
}
#pre,#nxt{
    background-color: aqua; padding: 20px;
}
#pre:hover,#nxt:hover,#num:hover{
    cursor: pointer;
}
#pre:active,#nxt:active,#num:active{
    background-color: blue;
}